@tailwind base;
@tailwind components;
@tailwind utilities;

/* Montserrat 폰트 추가 */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.5s ease-out forwards;
}

/* 페이지 전환 애니메이션 */
.page-enter {
  opacity: 0;
}
.page-enter-active {
  opacity: 1;
  transition: opacity 200ms;
}
.page-exit {
  opacity: 1;
}
.page-exit-active {
  opacity: 0;
  transition: opacity 200ms;
}

/* index.css */
.background-book {
  background-image: url('../public/images/book.png'); /* 절대 경로 사용 */
  background-size: cover;
  background-repeat: no-repeat;
}

.background-clip {
  background-image: url('../public/images/clip.png'); /* 절대 경로 사용 */
  background-size: cover;
  background-repeat: no-repeat;
}

.background-magnifier {
  background-image: url('../public/images/magnifier.png'); /* 절대 경로 사용 */
  background-size: contain;
  background-repeat: no-repeat;
}

.background-pic1 {
  background-image: url('../public/images/pic1.png'); /* 절대 경로 사용 */
  background-size: cover;
  background-repeat: no-repeat;
}

.background-pic2 {
  background-image: url('../public/images/pic2.png'); /* 절대 경로 사용 */
  background-size: cover;
  background-repeat: no-repeat;
}

.background-pic3 {
  background-image: url('../public/images/pic3.png'); /* 절대 경로 사용 */
  background-size: cover;
  background-repeat: no-repeat;
}
